@font-face {
  font-family: helvetica;
  src: url(../fonts/HelveticaNeue-Light.ttf); }
@font-face {
  font-family: helveticaBold;
  src: url(../fonts/HelveticaNeue-Bold.ttf); }
@font-face {
  font-family: FaktSlabProNormal;
  src: url(../fonts/FaktSlabPro-Normal.otf); }
@font-face {
  font-family: FaktSlabProBold;
  src: url(../fonts/FaktSlabPro-Bold.otf); }
@font-face {
  font-family: FaktSlabProThin;
  src: url(../fonts/FaktSlabPro-Thin.otf); }
body {
  font-family: helvetica,Arial;
  font-size: 14px;
  line-height: 150%;
  margin: 0;
  color: #333;
  font-weight: 400; }

a {
  text-decoration: none;
  color: #e4200e; }
  a:hover {
    text-decoration: underline; }

p {
  line-height: 150%;
  margin: 0 0 10px; }

ul {
  margin: 0;
  padding: 0; }

fieldset {
  border: 0;
  padding: 0;
  margin: 0; }

.left {
  float: left; }

.right {
  float: right; }

.clr {
  clear: both; }

h1, h2, h3, h4, h5, h6 {
  line-height: 100%;
  font-family: Arial;
  font-weight: 700; }

h1 {
  font-size: 40px;
  font-family: FaktSlabProNormal;
  font-weight: normal;
  margin: 0 0 40px; }

h3 {
  font-size: 45px;
  font-family: FaktSlabProThin;
  font-weight: normal;
  color: #e4200e;
  margin: 0 0 30px; }

h5 {
  text-transform: uppercase;
  margin: 0 0 20px; }

figure {
  margin: 0; }

.theme-alt .link, .theme-alt .link-back {
  border-color: #225783; }
.theme-alt .button {
  background-color: #225783;
  color: #fff; }
.theme-alt a, .theme-alt .img-content-listing .img-content h3, .theme-alt .img-content-listing .profile-banner h3 {
  color: #225783; }
.theme-alt #header #main-nav ul li.selected a, .theme-alt #header #main-nav ul li:hover a {
  border-color: #225783; }
.theme-alt .img-content-listing .img-content figure, .theme-alt .img-content-listing .profile-banner figure {
  background-color: #225783; }
.theme-alt table thead tr th {
  background: #225783; }
.theme-alt table tbody tr td {
  background: #386890;
  color: #fff; }
  .theme-alt table tbody tr td:first-child {
    color: #fff; }
  .theme-alt table tbody tr td .button {
    background-color: #fff;
    color: #225783; }
.theme-alt table .selector {
  background-color: #658AA7; }
  .theme-alt table .selector span {
    background-color: #658AA7; }
.theme-alt .profile-banner .content {
  background-color: #225783; }
.theme-alt .pagination a {
  background-color: #225783; }
.theme-alt aside {
  background-color: #225783; }
  .theme-alt aside .button {
    color: #225783; }

h1 {
  color: #333; }
  h1.theme {
    color: #e4200e; }
  h1.theme-alt {
    color: #225783; }

h1.theme-alt, h2.theme-alt, h3.theme-alt, h4.theme-alt, h5.theme-alt, h6.theme-alt {
  color: #225783; }

.wrapper {
  width: 980px;
  margin: 0 auto; }

.img-content-listing {
  padding: 0;
  margin: 0 0 50px; }
  .img-content-listing.theme-alt .date-placeholder {
    background-color: #225783; }
  .img-content-listing.theme-alt h3 {
    color: #225783; }

.img-content, .profile-banner {
  padding: 50px 0 20px;
  border-bottom: 1px solid #999; }
  .img-content:first-child, .profile-banner:first-child {
    padding-top: 0; }
  .img-content figure, .profile-banner figure {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 260px;
    max-height: 175px;
    margin: 0 50px 20px 0;
    line-height: 0; }
    .img-content figure img, .profile-banner figure img {
      max-width: 260px;
      max-height: 175px; }
    .img-content figure.date-placeholder, .profile-banner figure.date-placeholder {
      background: #d42e12;
      text-align: center;
      color: #fff;
      padding: 35px 0; }
      .img-content figure.date-placeholder strong, .profile-banner figure.date-placeholder strong {
        display: block;
        font-family: FaktSlabProBold;
        font-size: 80px;
        line-height: 80%; }
      .img-content figure.date-placeholder span, .profile-banner figure.date-placeholder span {
        display: block;
        font-family: FaktSlabProNormal;
        font-size: 45px;
        line-height: 100%;
        text-transform: uppercase; }
  .img-content .content, .profile-banner .content {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 645px; }
    .img-content .content .date, .profile-banner .content .date {
      margin: 0 0 20px;
      display: block;
      font-family: FaktSlabProNormal;
      font-size: 17px; }
    .img-content .content .title-content, .profile-banner .content .title-content {
      margin: 0 0 20px; }
    .img-content .content strong, .profile-banner .content strong {
      font-family: helveticaBold; }
  .img-content.theme-alt figure.date-placeholder, .theme-alt.profile-banner figure.date-placeholder {
    background-color: #225783; }
  .img-content.theme-alt .content .title-content, .theme-alt.profile-banner .content .title-content {
    color: #225783; }

.border-bottom {
  border-bottom: 1px solid #999;
  padding-bottom: 20px; }

.button {
  background: #e4200e;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  behavior: url(../js/PIE.htc);
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  padding: 5px 20px;
  color: #fff;
  font-family: FaktSlabProBold; }
  .button.alt {
    background: #fff;
    color: #333; }

.link, .link-back {
  border-bottom: 2px solid #e4200e;
  padding: 2px 20px 2px 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  text-transform: uppercase;
  font-weight: bold;
  font-family: helvetica;
  background: url("../images/sraquo.png") no-repeat scroll right center transparent; }
  .link:hover, .link-back:hover {
    text-decoration: none; }

.link-back {
  background: url("../images/raquo.png") no-repeat scroll left center transparent;
  padding: 2px 0 2px 20px; }

.grey-wrapper {
  background-color: #f4f3f3;
  padding: 20px 0;
  border-top: 1px solid #edecec;
  border-bottom: 1px solid #edecec; }

section {
  margin: 0 0 50px; }

.intro-desc {
  margin: 0 0 40px;
  padding: 0 0 30px;
  font-size: 18px; }

.buttons-holder {
  overflow: hidden;
  margin: 20px 0; }
  .buttons-holder a {
    float: right;
    margin: 0 10px; }

.column-3 {
  overflow: hidden; }
  .column-3 .col {
    width: 33%;
    float: left; }

#header .logo {
  padding: 20px 0; }
#header .logo-sec {
  float: right;
  padding: 20px 0; }
#header #main-nav {
  margin: 0 0 20px; }
  #header #main-nav ul {
    margin: 0 -20px; }
    #header #main-nav ul li {
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: top;
      font-family: helveticaBold;
      text-transform: uppercase;
      font-size: 14px;
      padding: 10px 20px; }
      #header #main-nav ul li a {
        display: block;
        border-bottom: 3px solid transparent; }
        #header #main-nav ul li a:hover {
          text-decoration: none;
          border-bottom: 3px solid #e4200e; }
      #header #main-nav ul li.selected a {
        border-bottom: 3px solid #e4200e; }
#header .breadcrumbs {
  margin: 0 0 50px; }
  #header .breadcrumbs li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    background: url("../images/sraquo.png") no-repeat scroll left center transparent;
    font-size: 11px;
    padding: 0 20px; }
    #header .breadcrumbs li:first-child {
      background: url("../images/ico-home.png") no-repeat scroll left center transparent;
      padding-left: 30px; }
      #header .breadcrumbs li:first-child a {
        color: #333; }

#footer {
  margin: 50px 0 0;
  font-size: 15px;
  font-family: helveticaBold; }
  #footer h5 {
    color: #333; }
  #footer a {
    color: #333; }
  #footer h5 {
    font-family: helveticaBold;
    text-transform: uppercase;
    font-size: 15px; }
  #footer .logo {
    padding: 20px 0; }
  #footer address {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    margin: 0 20px 0 0;
    font-style: normal;
    letter-spacing: -1px; }
  #footer .details {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    letter-spacing: -1px; }
    #footer .details p {
      margin: 0; }
  #footer nav {
    margin: 10px 0; }
    #footer nav ul li {
      border-left: 1px solid #8d8d8d;
      padding: 0 10px;
      line-height: 100%;
      font-family: helvetica;
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: top; }
      #footer nav ul li a {
        color: #8d8d8d; }
      #footer nav ul li:first-child {
        border: 0;
        padding-left: 0; }

.banner {
  text-align: center;
  margin: 0 0 50px; }
  .banner .content {
    font-size: 16px;
    color: #fff;
    position: absolute;
    padding: 65px 0 0;
    width: 420px;
    text-align: left; }
    .banner .content h1 {
      font-family: FaktSlabProThin;
      color: #fff; }

.profile-banner {
  margin: 0 0 30px;
  padding: 0;
  border: 0; }
  .profile-banner figure {
    width: 305px;
    margin: 0 20px 0 0; }
    .profile-banner figure img {
      max-width: 100%;
      width: 100%;
      max-height: 100%;
      height: 100%; }
  .profile-banner .content {
    position: relative;
    padding: 30px 40px;
    width: 570px;
    height: 323px;
    background: #d42e12;
    color: #fff; }
    .profile-banner .content .intro {
      font-family: FaktSlabProNormal;
      font-size: 18px;
      height: 130px;
      padding: 10px 0;
      border-top: 3px solid #fff;
      border-bottom: 3px solid #fff;
      margin: 0 0 30px;
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: top; }
      .profile-banner .content .intro strong {
        font-family: FaktSlabProBold;
        display: block;
        line-height: 150%;
        font-size: 30px; }
    .profile-banner .content p {
      font-size: 30px;
      line-height: 120%; }
  .profile-banner.theme-alt .content {
    background-color: #225783; }

table {
  border-collapse: collapse;
  margin: 0 0 50px;
  width: 100%; }
  table thead tr th {
    font-family: FaktSlabProBold;
    padding: 10px;
    background-color: #a3a3a3;
    text-align: left;
    color: #fff; }
  table tbody tr:nth-child(even) td {
    background: #e0e0e0; }
  table tbody tr td {
    background: #efefef;
    color: #666666;
    padding: 10px;
    text-align: left; }
    table tbody tr td:first-child {
      color: #e4200e; }
    table tbody tr td .button {
      background-color: #fff;
      color: #e4200e; }
    table tbody tr td strong {
      font-family: helveticaBold; }
    table tbody tr td:nth-child(6n) {
      font-family: helveticaBold; }
      table tbody tr td:nth-child(6n) span {
        height: 10px;
        width: 10px;
        margin: 6px 10px 0 0;
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: top;
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        behavior: url(../js/PIE.htc);
        position: relative; }
      table tbody tr td:nth-child(6n).available {
        color: #23970c; }
        table tbody tr td:nth-child(6n).available span {
          background: #23970c; }
      table tbody tr td:nth-child(6n).warning {
        color: #ffd614; }
        table tbody tr td:nth-child(6n).warning span {
          background: #ffd614; }
      table tbody tr td:nth-child(6n).none {
        color: #e4200e; }
        table tbody tr td:nth-child(6n).none span {
          background: #e4200e; }
  table div.selector {
    background-color: #bfbfbf; }
    table div.selector span {
      background-color: #bfbfbf; }
  table.theme-alt thead tr th {
    background: #225783; }
  table.theme-alt tbody tr td {
    background: #386890;
    color: #fff; }
    table.theme-alt tbody tr td:first-child {
      color: #fff; }
    table.theme-alt tbody tr td .button {
      background-color: #fff;
      color: #225783; }
  table.theme-alt .selector {
    background-color: #658AA7; }
    table.theme-alt .selector span {
      background-color: #658AA7; }
  table.theme thead tr th {
    background-color: #d42e12; }
  table.theme tbody tr td {
    background-color: #d84229;
    color: #fff; }
  table.theme div.selector {
    background-color: #e16d5a; }
    table.theme div.selector span {
      background-color: #e16d5a; }

.pagination {
  text-align: center;
  padding: 20px; }
  .pagination ul li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    margin: 0 5px; }
    .pagination ul li.next, .pagination ul li.previous {
      width: 130px; }
    .pagination ul li a {
      display: block;
      padding: 10px 15px;
      background: #e4200e;
      color: #fff;
      font-family: helveticaBold;
      border-radius: 10px 10px 10px 10px;
      -moz-border-radius: 10px 10px 10px 10px;
      -webkit-border-radius: 10px 10px 10px 10px;
      behavior: url(../js/PIE.htc);
      position: relative; }
  .pagination.theme-alt a {
    background-color: #225783; }

#slides {
  position: relative;
  margin: 0 0 20px; }
  #slides .slidesjs-navigation {
    background: url("../images/ico-arrow.png") no-repeat scroll left top transparent;
    width: 37px;
    height: 52px;
    text-indent: -9999px;
    display: block;
    z-index: 20;
    position: absolute;
    top: 120px; }
  #slides .slidesjs-previous {
    background-position: left top;
    left: 25px; }
  #slides .slidesjs-next {
    background-position: left bottom;
    right: 25px; }

.maincol {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 660px;
  margin: 0 75px 0 0;
  padding: 25px 0 0; }
  .maincol p {
    margin: 0 0 20px;
    font-size: 18px; }

.sidecol {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 180px;
  height: 554px;
  position: relative;
  padding: 30px;
  background: #d42e12;
  color: #fff; }
  .sidecol.theme-alt {
    background-color: #225783; }
    .sidecol.theme-alt .button {
      color: #225783; }
  .sidecol .button {
    color: #e4200e;
    background-color: #fff; }
  .sidecol a {
    color: #fff;
    border-color: #fff; }
    .sidecol a.bottom-link {
      position: absolute;
      bottom: 30px;
      left: 30px; }
  .sidecol dl {
    margin: 0 0 50px;
    padding: 0; }
    .sidecol dl dd {
      font-family: helveticaBold;
      margin: 0 0 20px;
      padding: 0; }
  .sidecol .link, .sidecol .link-back {
    border-color: #fff;
    background: url("../images/ico-arrow-right.png") no-repeat scroll right center transparent; }

.profile-listing {
  padding: 0; }
  .profile-listing .profile-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    margin: 0 0 20px; }
    .profile-listing .profile-item:nth-child(odd) {
      margin-right: 24px; }
    .profile-listing .profile-item:nth-child(even) {
      margin-left: 24px; }
    .profile-listing .profile-item a {
      color: #333; }
    .profile-listing .profile-item figure {
      width: 180px;
      margin: 0 10px 0 0;
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: top; }
      .profile-listing .profile-item figure img {
        width: 180px;
        height: 227px; }
    .profile-listing .profile-item .content {
      width: 270px;
      padding: 20px 0;
      height: 182px;
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: top;
      border-top: 2px solid #e4200e;
      border-bottom: 2px solid #225783;
      font-size: 32px;
      font-family: FaktSlabProThin; }
      .profile-listing .profile-item .content span {
        display: block;
        font-family: FaktSlabProNormal;
        font-size: 17px;
        margin: 0 0 10px; }

div.selector {
  background: #e16d5a;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  behavior: url(../js/PIE.htc);
  position: relative;
  font-family: FaktSlabProBold; }
  div.selector.hover span, div.selector.active span, div.selector.focus span {
    background-position: 90% center; }
  div.selector span {
    color: #fff;
    font-family: FaktSlabProBold;
    text-shadow: none;
    font-size: 14px;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    behavior: url(../js/PIE.htc);
    position: relative;
    background: url("../images/ico-arrow-down.png") no-repeat scroll 90% center #e16d5a; }
  div.selector select {
    font-family: helvetica; }

.related-content {
  margin: 0 0 20px; }
  .related-content .related-link {
    text-transform: uppercase;
    border-bottom: 2px solid #e4200e;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    margin: 0 0 10px;
    font-family: helveticaBold; }
  .related-content .col {
    width: 326px;
    margin: 0 0 20px; }
  .related-content figure img {
    width: 304px;
    height: auto; }
  .related-content figure.date-placeholder {
    background: #d42e12;
    text-align: center;
    color: #fff;
    padding: 35px 0; }
    .related-content figure.date-placeholder strong {
      display: block;
      font-family: FaktSlabProBold;
      font-size: 80px;
      line-height: 100%; }
    .related-content figure.date-placeholder span {
      display: block;
      font-family: FaktSlabProNormal;
      font-size: 45px;
      line-height: 100%;
      text-transform: uppercase; }

/*# sourceMappingURL=all.css.map */
