body{
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

.wrapper{
    margin:0 auto;
    max-width: 1024px;
    padding:0 20px;
}

.green{
    color:#387c48;
}

.orange{
    color:#f99e29;
}

header{
    padding:0px 0 0;
    background: linear-gradient(to right, #fff 30%, #122d70 40%, #122d70 40%);
}

p{
    margin:0px 0 20px;
}

.logo{
    background:white url("../assets/share/oblique.svg") no-repeat right center;
    display: inline-block;
    padding:10px 64px 10px 0;
}

.logo img{
    display: inline-block;
    vertical-align: top;
}

.logo-side{
    border-left: 1px solid #122d70;
    display: inline-block;
    padding:0px 20px;
    margin:10px 0 10px 20px;
    color:#122d70;
    font-size:12px;
}

.logo-side strong{
    display: block;
    font-size:18px;
}

#header{
    background-color: #fff;
}

#header nav{
    background-color:#8a704d;
    color:white;
    margin:0px auto 0;
    text-align: center;;
}

#header nav a{
    display: inline-block;
    padding:7px 20px;
    font-weight: bold;
    font-size:13px;
}

.hero{
    background-image: url("../assets/home/hero.jpg");
    background-size: cover;
    background-position: center center;
    color:#fff;
    text-align: center;
    padding:200px 0;
    font-family: 'Oswald';
    margin:0 auto;
}

.hero blockquote{
    font-size:60px;
}

.hero span{
    display: block;
    margin:20px 0 50px;
    font-size: 30px;
}

.hero img{
    margin:0 auto 50px;
}

#homepage .hero{
    background-image: url(../assets/home/banner.png);
}

.button{
    background-color: #34bce2;
    border:2px solid white;
    display: inline-block;
    border-radius: 20px;
    padding: 5px 20px;
}

.button.cta{
    background-color: #f89c26;
    text-transform: uppercase;
}

.date{
    font-size:24px;
    position: relative;
    padding: 40px 30px;
    font-family: 'Oswald';
}

.date span{
    position: absolute;
    left:10px;
    top:35px;
    background-color: #f99b27;
    width:50px;
    height: 50px;
    border-radius: 50px;
    z-index: -1;
}

.title-header{
    margin:30px 0;
    font-size:40px;
    font-family: 'Oswald';
    text-transform: uppercase;
}

.title-header-alt{
    margin:30px 0;
    font-size:40px;
    font-family: 'Oswald';
}

.schedule-nav{
    margin:40px 0 40px;
    display: flex;
    flex-flow: row wrap;
}

.schedule-nav a{
    border:3px solid #ccc;
    margin:0 -1px;
    padding: 10px 30px;
    display: inline-block;
    text-transform: uppercase;
    color:#999;
    letter-spacing: 2px;
    font-weight: bold;
}

.schedule-nav a.selected{
    border-color:#ff4949;
    z-index: 2;
    position: relative;
}

.schedule{
    margin:0 0 40px;
}

.schedule .date{
    margin:0 0 40px;
    padding: 0;
    font-weight: 100;
    text-transform: uppercase;
}

.schedule .date strong{
    font-size:40px;
    border:3px solid #ff4949;
    padding:2px 8px 5px;
    font-weight: bold;
    position: relative;
    top:3px;
    margin:0 5px 0 0;
}

.timing{
    font-size:18px;
    display: flex;
    margin:0 0 30px;
}


.timing div{
    display: inline-block;
}

.timing div:first-child{
    width:30%;
    display: flex;
    align-items: center;
    border-left:0;
    text-align: left;
    padding-left:5px;
}

.timing div{
    width:70%;
    border-left:3px solid #ccc;
    padding:10px 0 10px 40px;
    margin:0 0 10px;
}

.timing div strong{
    width: auto;;
}

.timing .title{
    text-transform: uppercase;
    font-size:20px;
    font-weight: 100;
}

#footer{
    background-color: #1c1c1c;
    color:#fff;
    font-size:13px;
}

#footer .media{
    background-color:#e4e4e4;
    color:#10676e; 
}

#footer .media .wrapper{
    background-image:url("../assets/share/bg-footer.jpg");
    background-repeat: no-repeat;
    padding:30px 20px 40px;
}

#footer .media h4{
    font-size:40px;
    font-family: 'Oswald';
    display: inline-block;
}

#footer .media .wrapper span,#footer .media .wrapper div{
    display: inline-block;
}

#footer .media .wrapper span{
    border-top:2px dashed #999;
    display: inline-block;
    width: 200px;
    position: relative;
    bottom:8px;
    margin:0 20px;
}

#footer .media .wrapper span pre{
    background:#999;
    border-radius:20px;
    width: 15px;
    height: 15px;
    position: absolute;
    right:0;
    top:-8px;
}

#footer .media .wrapper div{
    position: relative;
    top:18px;
}

#footer .media .wrapper div a{
    display: inline-block;
    line-height: 0;
}

#footer .sitemap{
    display: flex;
    padding:40px 0;
}

#footer .sitemap div{
    flex:1;
    line-height: 200%;
}

#footer .sitemap h5{
    font-size:15px;
    font-weight: bold;
    text-transform: uppercase;
}

#footer .sitemap .sitemap-info{
    margin-top:0px;
    padding:20px 0;
}

#footer .sitemap .sitemap-info span{
    display: block;
}

#footer .sitemap .divider{
    width:100px;
    height:1px;
    background-color: #fff;
    margin:5px 0;
}

#footer .copyright{
    font-size:11px;
    border-top:1px solid #ccc;
    padding-top:10px;
}

#footer nav{
    margin-bottom:0px;
}

#footer nav a:first-child{
    padding-left:0;
    border-left:0;
}

#footer nav a{
    padding:0 10px;
    border-left:2px solid #ccc;
}

#footer .copyright span{
    display: block;
    padding:10px 0;
}

.checkpoint{
    border-bottom:1px solid #8b8b8b;
    margin:0 0 50px;
    font-family: "Oswald";
}

.checkpoint .wrapper{
    display: flex;
    padding:20px 0;
}

.checkpoint .date{
    background:transparent url("../assets/home/ico2.png") no-repeat left center;
    background-size: 72px 72px;
    font-size:40px;
    padding:20px 30px;
    font-weight: bold;
}

.checkpoint .address{
    padding:0 20px;
    border-left:5px solid #000;
    border-right:5px solid #000;
    font-size:24px;
}

.checkpoint a{
    padding:25px;
    display: block;
}

.checkpoint div{
    flex-grow: 1;
}

.slogan{
    margin:50px 0;
    border-top:12px solid #f99e29;
    border-bottom:12px solid #f99e29;
}

.ico-group{
    margin:80px 0;
}

.ico-group div{
    display: inline-block;
    margin-right:50px;
}

.ico-group div span{
    display: block;
    margin:0 0 10px;
}

.contact-us{
    background-color: #0f686e;
    padding:40px 0;
}

.contact{
    display: flex;
    color:#fff;
    padding:40px 0;
}
.contact div{
    flex-grow: 1;
}

.contact span{
    display: block;
    margin:0 0 10px;
}

.contact img{
    display: inline-block;
    margin:0 15px 0 0;
}