#downloads .hero{
    background-image: url(../assets/downloads/header_Downloads.jpg);
    border-bottom:18px solid #f99e29;
}

.button{
    background-color: #f99e29;
}

.slogan{
    margin:50px 0;
    border-top:12px solid #f99e29;
    border-bottom:12px solid #f99e29;
}

.slogan .title-header-seq{
    margin:15px 0;
}